html {
    padding: 30px;
    margin: 30px;
    background-color: rgb(241, 234, 234);
  }

html .video_background {
  position:fixed;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  opacity: 0.7;
}


body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(96, 91, 91, 0.5);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 100;
  margin: 100;
  color: rgb(220, 231, 241);
}

nav {
  display: block;
}


.main-wrapper {
  padding: 30px;
}
  
.info-container {
  display: flex; 
  justify-content: space-evenly;
}


.presentacion {
  text-align: justify;
}

.foto {
  padding-left: 50px;
}
  
.informacion {
  background-color: rgb(54, 52, 52);
    
}

.contacto {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#info, #infor, #informa, #informat {
  display: none;
}

.master {
    display: flex;
    justify-content: space-between;
    background-color: #363e42;
}


.grado {
    display: flex;
    justify-content: space-between;
    background-color: #363e42;
}

.exchange {
    display: flex;
    justify-content: space-between;
    background-color: #363e42;
}

.high {
    display: flex;
    justify-content: space-between;
    background-color: #363e42;
}

.languages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.programas {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


progress {
    width: 180px;
    height: 30px;
}


/* grafics circulars */

.circular-progress {
    position: relative;
    margin: auto;
  }
  .circular-progress, .circular-progress:before, .circular-progress:after {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
  .circular-progress:before, .circular-progress:after {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  .circular-progress:before {
    line-height: 8rem;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 1.8rem;
  }
  .circular-progress:after {
    line-height: 13rem;
  }
  
  .catalan {
    background: linear-gradient(0deg, rgb(248, 96, 35) 100%, rgba(70, 130, 180, 0.2) 100%);
    transform: rotate(180deg);
  }
  .catalan:before, .catalan:after {
    color: black;
  }
  .catalan:before {
    content: "Catalan";
    background: rgba(63, 85, 209, 0.9) content-box;
    transform: rotate(-180deg);
    text-transform: uppercase;
  }
  .catalan:after {
    content: "100%";
    background: linear-gradient(transparent 50%, rgb(14, 13, 13), 50%);
    transform: scale(1.1) rotate(-180deg);
  }

  .spanish {
    background: linear-gradient(0deg, rgb(248, 96, 35) 100%,  rgba(70, 130, 180, 0.2) 100%);
    transform: rotate(180deg);
  }
  .spanish:before, .spanish:after {
    color: black;
  }
  .spanish:before {
    content: "Spanish";
    background: rgba(63, 85, 209, 0.9) content-box;
    transform: rotate(-180deg);
    text-transform: uppercase;
  }
  .spanish:after {
    content: "100%";
    background: linear-gradient(transparent 50%, 50%);
    transform: scale(1.1) rotate(-180deg);
  }

  .english {
    background: linear-gradient(0deg, rgb(248, 96, 35) 70%, rgba(70, 130, 180, 0.2) 70%);
    transform: rotate(180deg);
  }
  .english:before, .english:after {
    color: black;
  }
  .english:before {
    content: "English";
    background: rgba(63, 85, 209, 0.9) content-box;
    transform: rotate(-180deg);
    text-transform: uppercase;
  }
  .english:after {
    content: "70%";
    background: linear-gradient(transparent 50%, 50%);
    transform: scale(1.1) rotate(-180deg);
  }

  .french {
    background: linear-gradient(0deg, rgb(248, 96, 35) 20%, rgba(70, 130, 180, 0.2) 20%);
    transform: rotate(180deg);
  }
  .french:before, .jscript:after {
    color: black;
  }
  .french:before {
    content: "French";
    background: rgb(63, 85, 209) content-box;
    transform: rotate(-180deg);
    text-transform: uppercase;
  }
  .french:after {
    content: "20%";
    color: black;
    background: linear-gradient(transparent 50%,  50%);
    transform: scale(1.1) rotate(-180deg);
  }
  
  .skills {
    display: flex;
    margin-top: 4em;
    flex-wrap: wrap;
  }





  .info-rrss {
    background-color:  rgb(54, 52, 52);
    /* min-height: 100px; */
  
  }
  
  .rrss {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .rrss a {
    color: white;
    text-decoration: none;
  }
  
  .rrss i {
    padding: 10px;
    transform: scale(1.5);
  }
  .rrss i:hover {
    transform: scale(2)
  }





  
  @media all and (min-width: 520px) {
    .info-container {
      display: flex;
    }

  
    .rrss {
      flex-direction: row;
      justify-content: space-around;
      max-width: 500px;
      margin: 0 auto;
      padding: 20px 0;
    }
  
    .rrss li {
      display: flex;
      flex-direction: row;
    }
  
    

  }

    .languages {
      display: row;
      justify-content: space-between;
      align-items: center;
  }

  .circular-progress {
    position: relative;
    margin: auto;
  }
  .circular-progress, .circular-progress:before, .circular-progress:after {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
  .circular-progress:before, .circular-progress:after {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  .circular-progress:before {
    line-height: 8rem;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 1.8rem;
  }
  .circular-progress:after {
    line-height: 13rem;
  }
  
  .catalan {
    background: linear-gradient(0deg, rgb(248, 96, 35) 100%, rgba(70, 130, 180, 0.2) 100%);
    transform: rotate(180deg);
  }
  .catalan:before, .catalan:after {
    color: black;
  }
  .catalan:before {
    content: "Catalan";
    background: rgba(63, 85, 209, 0.9) content-box;
    transform: rotate(-180deg);
    text-transform: uppercase;
  }
  .catalan:after {
    content: "100%";
    background: linear-gradient(transparent 50%, rgb(14, 13, 13), 50%);
    transform: scale(1.1) rotate(-180deg);
  }

  .spanish {
    background: linear-gradient(0deg, rgb(248, 96, 35) 100%,  rgba(70, 130, 180, 0.2) 100%);
    transform: rotate(180deg);
  }
  .spanish:before, .spanish:after {
    color: black;
  }
  .spanish:before {
    content: "Spanish";
    background: rgba(63, 85, 209, 0.9) content-box;
    transform: rotate(-180deg);
    text-transform: uppercase;
  }
  .spanish:after {
    content: "100%";
    background: linear-gradient(transparent 50%, 50%);
    transform: scale(1.1) rotate(-180deg);
  }

  .english {
    background: linear-gradient(0deg, rgb(248, 96, 35) 70%, rgba(70, 130, 180, 0.2) 70%);
    transform: rotate(180deg);
  }
  .english:before, .english:after {
    color: black;
  }
  .english:before {
    content: "English";
    background: rgba(63, 85, 209, 0.9) content-box;
    transform: rotate(-180deg);
    text-transform: uppercase;
  }
  .english:after {
    content: "70%";
    background: linear-gradient(transparent 50%, 50%);
    transform: scale(1.1) rotate(-180deg);
  }

  .french {
    background: linear-gradient(0deg, rgb(248, 96, 35) 20%, rgba(70, 130, 180, 0.2) 20%);
    transform: rotate(180deg);
  }
  .french:before, .jscript:after {
    color: black;
  }
  .french:before {
    content: "French";
    background: rgba(63, 85, 209, 0.9) content-box;
    transform: rotate(-180deg);
    text-transform: uppercase;
  }
  .french:after {
    content: "20%";
    background: linear-gradient(transparent 50%,  50%);
    transform: scale(1.1) rotate(-180deg);
  }



